.button {
    padding: 8px 16px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: lightgray;
    transition: background-color 0.3s;
  }
  
  .buttonSelected {
    margin: 5px;
    background-color:orange;
    cursor: pointer;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }