.setup {
    background-color: white;
    align-items: center;
    width: 100%;
  }
  
  .buttons {
    background-color: orange;
    margin: 10px;
  }
  
  .button-text {
    text-align: center;
  }
  
  .selection-view {
    border-width: 4px;
    padding: 5px;
    padding-bottom: 10px;
    margin: 10px;
  }
  
  .header-text {
    font-weight: bold;
    font-size: 25px; 
  }
  
  .title-text {
    font-size: 40px;
    padding-bottom: 50px;
    color: grey;
    text-align: center;
  }
  
  .input {
    padding: 5px;
    margin: 20px;
    border-width: 1px;
  }
  
  .header {
    padding: 20px;
    text-align: center;
    font-size: 20px;
  }
  
  .input-prompt {
    color: orange;
    font-size: 15px;
    margin: 30px;
  }
  