  .buttons {
    background-color: orange;
    margin: 10px;
  }
  
  .buttonText {
    text-align: center;
  }

  .input {
    padding: 5px;
    margin: 20px;
    border-width: 1px;
  }
  
  .header {
    padding: 20px;
    text-align: center;
    font-size: 20px;
  }
  
  .inputPrompt {
    color: orange;
    font-size: 15px;
    margin: 30px;
  }
  